<template>
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-10">

                <div id="title" class="justify-content-center">
                    <h3>
                        Reportes Por Día
                    </h3>
                </div>
                

                <div id ="table">
                    <table class = "table">
                        <thead>
                            <tr>

                                <th>
                                   Fecha
                                </th>

                                <th>
                                   Número de Viajes
                                </th>

                                <th>
                                   Metros Recorridos
                                </th>
                               

                            </tr>                        
                        </thead>
                        <tbody>
                            <tr  v-for="(report, index) in reports"  v-bind:key="report.id" >

                                <td>
                                    {{report.dt}}
                                </td>

                                <td>
                                    {{report.dt_count}}
                                </td>

                                <td>
                                    {{report.distance_sum}}
                                </td>



                            </tr>

                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>

</template>

<script>
    export default {
        props: {
            name: String
        },
        data() {
            return {
                markers: [],
                reports: [],
                new_name: null,
                new_max_bike_number: null,
                url: "/admin/reports/by_day",
            };
        },

        mounted() {
            axios.post(this.url, {
                _token: window.laravel_tocken
            }).then(response => {

                this.reports = response.data;
            }).catch((error) => {
                if (error.response) {
                    console.log(error.response.data);
                    console.log(error.response.status);
                    console.log(error.response.headers);
                }
            });

        },
        methods: {
        }
    };
</script>
