// Client Colors
$potosi_green : #009933;
$potosi_red : #e0040b;
$potosi_yellow : #fdd000;
$potosi_black : #1f140f;

// Body
$body-bg: #fafafa;

// Typography
$font-family-sans-serif: 'Open Sans', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: $potosi_red;
$orange: #f6993f;
$yellow: $potosi_yellow;
$green: $potosi_green;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$white: #fff;

