// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Open Sans');



// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


div .card-header{
    background: $potosi_green;
    color: $white;
}

#body_map {
    display:flex;
    flex-direction:column;
    height: 80vh;
}
#body_map .navbar{    
    z-index: 3;
}  
#body_map .navbar a {
    color: white;
}
#map{
    height: 100vh; 
    width: 100%; 
}
#mapContainer  {
    height: 100vh; 
    width: 100%;
}

.flexy{
    flex-grow:1;
    overflow-y: auto;
    width: 100%;    
}


#body_map #header{


}

#button_map{
    position: fixed;
    bottom: 0;
    width: 100%;  
    z-index: 3;
}