<template>
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-10">

                <div id="title" class="justify-content-center">
                    <h3>
                        Tabla de Bicicletas
                    </h3>
                </div>

                <div id ="table">
                    <table class = "table table-sm">
                        <thead>
                            <tr>

                                <th>
                                    Estado del Candado
                                </th>

                                <th>
                                    Bicicleta
                                </th>
                                <th>
                                    Código Candado
                                </th>
                                <th>
                                    Batería 
                                </th>
                                <th>
                                    Calidad Señal
                                </th>
                                <th>
                                    Fecha de Actualización
                                </th>
                                <th>

                                </th>
                                <th>

                                </th>
                                <th>

                                </th>
                                <th>

                                </th>

                            </tr>                        
                        </thead>
                        <tbody>
                            <tr  v-for="(bike, index) in bikes"  v-bind:key="bike.id" >

                                <td v-on:click="open(index)">
                                    <div v-if = "bike.lock.status == 'open' "   class="btn btn-danger">
                                        ABIERTO
                                    </div>
                                    <div v-else-if = "bike.lock.status == 'close' " class=" btn btn-success" >
                                        CERRADO
                                    </div>
                                    <div v-else>

                                    </div>
                                </td>

                                <td>
                                    {{bike.name}} - {{bike.model}}

                                </td>

                                <td>
                                    {{bike.lock.qr_code}}
                                </td>


                                <td  v-if = " bike.lock.battery_level <= 370 ">

                                    <div class='text-danger' >
                                        {{  calculateBattery ( bike.lock.battery_level)  }}
                                    </div>                                    

                                <td v-else>
                                    {{  calculateBattery ( bike.lock.battery_level)  }}
                                </td>


                                <td>
                                    <div v-if = "bike.lock.gsm_signal == 0 || bike.lock.gsm_signal == null   ">
                                        Sin Señal
                                    </div>
                                    <div v-if = "bike.lock.gsm_signal == 1  ">
                                        Muy Baja
                                    </div>   
                                    <div v-if = "bike.lock.gsm_signal == 2  ">
                                        Baja
                                    </div>   
                                    <div v-if = "bike.lock.gsm_signal == 3 ">
                                        Buena
                                    </div>   
                                    <div v-if = "bike.lock.gsm_signal == 4   ">
                                        Muy Buena
                                    </div>   


                                </td>


                                <td  v-if = "calculateHourDifferenceColor (bike.lock.date_status) == 'alert'   ">

                                    <div class='text-danger' >
                                        {{bike.lock.date_status}}
                                    </div>                                    

                                <td v-else>
                                    {{bike.lock.date_status}}
                                </td>


                                <td>
                                    <a class = "btn btn-info" 
                                       :href="'https://www.google.com/maps?q=(' + bike.lock.last_point.latitude + ',' + bike.lock.last_point.longitude + ')' "
                                       target="_blank">
                                       LOCALIZAR
                                </a> 
                            </td>


                            <td v-if = "bike.status == 'enabled' ">
                                <button class = "btn btn-success"  v-on:click="disableBike(index)"  >
                                    DESHABILITAR 
                                </button>                                    
                            </td>
                            <td v-else>
                                <button class = "btn btn-warning"  v-on:click="enableBike(index)"  >
                                    HABILITAR 
                                </button>                                    
                            </td>

                            <td>
                                <a class = "btn btn-warning" :href="'/admin/bikes/' + bike.id">
                                   EDITAR 
                            </a>       
                        </td>




                    </tr>


                </tbody>
            </table>
        </div>

    </div>
</div>
</div>

</template>

<script>
    export default {
        props: {
            name: String
        },
        data() {
            return {
                markers: [],
                bikes: [],
                new_name: null,
                new_max_bike_number: null,
                url: "/admin/bikes",
            };
        },

        mounted() {
            axios.post(this.url, {
                _token: window.laravel_tocken
            }).then(response => {

                var reponse_bikes = response.data;
                //console.log(reponse_bikes);
                for (var i = 0; i < reponse_bikes.length; i++) {
                    // console.log(reponse_bikes[i]);

                    if (reponse_bikes[i].lock == null) {
                        var point = {
                            latitude: 0,
                            longitude: 0
                        };
                        var lock = {
                            status: "",
                            qr_code: "",
                            last_point: point
                        };
                        reponse_bikes[i].lock = lock;
                    }
                }

                this.bikes = reponse_bikes;
            }).catch((error) => {
                if (error.response) {
                    console.log(error.response.data);
                    console.log(error.response.status);
                    console.log(error.response.headers);
                }
            });

        },
        methods: {
            open: function (index) {
                axios.post("/admin/locks/openLock/" + this.bikes[index].lock.id, {
                    _token: window.laravel_tocken
                })
                        .then(response => {
                            if (response.data == "true") {
                                console.log("Abriendo Candado");
                            } else {
                                console.log("Hubo un error con el candado");
                            }
                        })
                        .catch((error) => {
                            if (error.response) {
                                console.log(error.response.data);
                                console.log(error.response.status);
                                console.log(error.response.headers);
                            }
                        });
            },
            enableBike: function (index) {
                // this.bikes[index].status = 'enabled';
                var bike_id = this.bikes[index].id;
                axios.post("/admin/bikes/enable/" + bike_id, {
                    _token: window.laravel_tocken
                })
                        .then(response => {

                            this.bikes[index].status = 'enabled';

                        })
                        .catch((error) => {
                            if (error.response) {
                                console.log(error.response.data);
                                console.log(error.response.status);
                                console.log(error.response.headers);
                            }
                        });
            },

            disableBike: function (index) {
                var bike_id = this.bikes[index].id;
                axios.post("/admin/bikes/disable/" + bike_id, {
                    _token: window.laravel_tocken
                })
                        .then(response => {

                            this.bikes[index].status = 'disabled';
                        })
                        .catch((error) => {
                            if (error.response) {
                                console.log(error.response.data);
                                console.log(error.response.status);
                                console.log(error.response.headers);
                            }
                        });
            },

            calculateBattery: function (batteryLevel) {
                if (batteryLevel <= 350 || batteryLevel == null) {
                    return "0%";
                }
                if (batteryLevel >= 416) {
                    return "100%";
                }
                if (batteryLevel > 350 && batteryLevel < 416) {
                    // teniendo en cuenta que 350 -> 0%   416->100%
                    // calculamos la pendiente
                    var m = 100 / (416 - 350);
                    //calculamos el punto de corte
                    var b = -m * 350;
                    var y = batteryLevel * m + b;
                    return Math.round(y) + "%";
                }
                return "error";
            },
            calculateHourDifferenceColor(lastConnect) {
                var last = new Date(lastConnect);
                var actual = new Date();
                var diff = Math.round(((Math.abs(actual - last)) / 1000) / 60);
                if (diff > 20) {
                    return "alert";
                }
            }

        }
    };
</script>
