<template>

    <div>
        <div class="container col-md-4 mb-4 "  data-toggle="collapse" >
                <img class="col-12 mx-auto" src="/img/potosi_logo_2.png" >
            </div>


        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-header">  Préstamo en Curso</div>

                        <div class="card-body">
                            <div class="container col-4 mb-4 "  data-toggle="collapse" >
                                <img class="col-9 mx-auto" src="/img/ok.png" v-on:click="onclick" >
                            </div> 

                            <h5>
                                00:00:00
                            </h5>

                            <p>
                                Super {{name}}! Tienes una bicicleta a tu nombre!
                            </p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</template>

<script>
    export default {
        props: {
            name: String
        },
        data() {
            return {
                markers: []
            };
        },

        mounted() {
            //this.update();

            /*   setInterval(function () {
             
             this.update();
             }.bind(this), 3000);*/

        },
        methods: {

            onclick: function (index) {
                console.log("Fin");
                axios.get("/endRide").then(function (response) {
                    console.log(response);
                });
            },

            update: function () {
                // this.markers =  [ { 'latitude' : '4.792663246853169'  , 'longitude' : '-73.96081924438478'} ];
                // console.log(this.markers[0].latitude + " ooo" );
                //window.maprefresh();
                //window.addpoint(this.markers);
            }


        }
    };
</script>
