<template>
    <h1> 4 Estoy en {{ msj  }}</h1>
</template>
 
<script>
    export default {
        data() {
            return {
                markers: [],
                msj : 0
            };
        },

        mounted() {
            //this.update();

            /*   setInterval(function () {
             
             this.update();
             }.bind(this), 3000);*/

        },
        methods: {

            onclick: function (index) {

            },

            update: function () {
                this.markers =  [ { 'latitude' : '4.792663246853169'  , 'longitude' : '-73.96081924438478'} ];
                console.log(this.markers[0].latitude + " ooo" );
                //window.maprefresh();
                window.addpoint(this.markers);
            }


        }
    };
</script>
