<template>

    <div id="mapContainer">
        <div id="map" >
        </div>

        <div  v-if="internal_state === 1">

            <nav  id="button_map" class="navbar navbar-dark bg-dark navbar-inverse navbar-fixed-bottom">
                <div class="container center">

                    <button class=' mx-auto btn btn-link text-white' v-on:click="onclick" > Desbloquear bicicleta </button>

                </div>
            </nav>


        </div>
        <div v-else>

            <div class="container col-md-4 mb-4 "  data-toggle="collapse" >
                <img class="col-12 mx-auto" src="/img/potosi_logo_2.png" >
            </div> 


            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-8">
                        <div class="card">
                            <div class="card-header">Desbloquear la Bicicleta</div>

                            <div class="card-body">

                                <security-questions></security-questions>

                                <div class="form-group row">   

                                    <label for="bike_number" 
                                           class="col-lg-4 col-form-label text-lg-right">
                                        Ingrese el número de la Bicicleta
                                    </label>

                                    <div class="col-md-6">
                                        <input 
                                            id="bike_number"
                                            type="number"
                                            :class="class_valid" 
                                            name="bike_number" 
                                            v-model = "bike_name"
                                            required
                                            autofocus
                                            >


                                        <span class="invalid-feedback" role="alert" v-if="hasError">
                                            <strong>{{ message }}</strong>
                                        </span>

                                    </div>
                                </div>
                            </div>

                            <div class="form-group row col-md-6 mx-5">
                                <div class="col-md-6 float  ml-0">
                                    <button type="submit" class="btn btn-success mb-3" v-on:click="unlock">
                                        ACEPTAR
                                    </button>

                                </div>

                                <div class="col-md-6 float mr-0">

                                    <button type="submit" class="btn btn-danger" v-on:click="onclick" >
                                        CANCELAR
                                    </button>

                                </div>

                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>



    </div>

</div>

</template> 

<script>
    export default {
        data() {
            return {
                markers: [],
                message: "",
                internal_state: 1,
                bike_name: '',
                hasError: false,
                class_valid: 'form-control '
            }
        },

        mounted() {
            this.internal_state = 1;

            window.init();
            window.mainController();
            window.incrementCount();
            this.update();

        },
        methods: {

            onclick: function (index) {
                if (this.internal_state == 1) {
                    this.internal_state = 2;
                    document.getElementById("map").style.height = "0px";
                } else {
                    this.internal_state = 1;
                    document.getElementById("map").style.height = "100vh";

                }

            },
            errorAction: function (error) {
                console.log(error);
                this.hasError = true;
                this.class_valid = "form-control is-invalid";
                this.message = error + "";
            },
            unlock: function () {
                this.message = "Al terminar su recorrido cierre el candado manualmente para que otro usuario pueda hacer uso de ella.";
                alert(this.message);
                axios.get('/startRide/' + this.bike_name)
                        .then((response) => {
                            console.log("RESPUESTA : ");
                            console.log(response);
                            this.hasError = true;
                            this.class_valid = "form-control is-valid";

                            this.message = "Desbloqueando Bici";
                            setInterval((response) => {
                                this.internal_state = 1;
                                document.getElementById("map").style.height = "100vh";
                            }, 2000);
                        })
                        .catch((error) => {
                            // Error 😨
                            if (error.response) {
                                /*
                                 * The request was made and the server responded with a
                                 * status code that falls out of the range of 2xx
                                 */
                                console.log(error.response.data);

                                this.class_valid = "form-control is-invalid";
                                this.hasError = true;
                                this.message = error.response.data.errors.bike_number;

                                console.log(error.response.status);
                                console.log(error.response.headers);
                            } else if (error.request) {
                                /*
                                 * The request was made but no response was received, `error.request`
                                 * is an instance of XMLHttpRequest in the browser and an instance
                                 * of http.ClientRequest in Node.js
                                 */
                                console.log(error.request);
                            } else {
                                // Something happened in setting up the request and triggered an Error
                                console.log('Error', error.message);
                            }
                            console.log(error.config);
                        });
                // this.onclick();

            },

            update: function () {

                axios.get("/api/stations").then(res => {
                    //var stations = 
                    this.markers = res.data;
                    console.log(this.markers[0].latitude + " ooo");
                    //window.maprefresh();
                    window.printStations(this.markers);

                });


            }


        }
    };
</script>
