<template>
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-10">

                <div id="title" class="justify-content-center">
                    <h3>
                        Tabla de Roles 
                    </h3>
                </div>

                <div id ="table">
                    <table class = "table">
                        <thead>
                            <tr>

                                <th>
                                    id
                                </th>
                                <th>
                                    Nombre
                                </th>
                                <th>
                                    Número Máximo de Bicicletas
                                </th>

                            </tr>                        
                        </thead>
                        <tbody>
                            <tr  v-for="(role, index) in roles"  v-bind:key="role.id" >

                                <td>

                                    {{role.id}}
                                </td>
                                <td>
                                    <input type="text" v-model ="role.name" >

                                </td>

                                <td>
                                    <input type="number" v-model = "role.max_bike_number" >

                                </td>

                                <td>
                                    <button class = "btn btn-warning"  v-on:click="editRole(index)"  >
                                        EDITAR
                                    </button>   
                                </td>

                                <td>
                                    <button class = "btn btn-danger"  v-on:click="deleteRole(index)"  >
                                        BORRAR
                                    </button>   
                                </td>


                            </tr>

                            <tr>
                                <td>
                                    NUEVO ROL:
                                </td>
                                <td>
                                    <input type="text" v-model ="new_name" >

                                </td>

                                <td>
                                    <input type="number" v-model = "new_max_bike_number" >

                                </td>

                                <td>
                                    <button class = "btn btn-success"  v-on:click="createRole"  >
                                        CREAR
                                    </button>   
                                </td>

                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>

</template>

<script>
    export default {
        props: {
            name: String
        },
        data() {
            return {
                markers: [],
                roles: [],
                new_name: null,
                new_max_bike_number: null,
                url: "/admin/roles",
            };
        },

        mounted() {
            axios.post(this.url, {
                _token: window.laravel_tocken
            }).then(response => {

                this.roles = response.data;
            }).catch((error) => {
                if (error.response) {
                    console.log(error.response.data);
                    console.log(error.response.status);
                    console.log(error.response.headers);
                }
            });

        },
        methods: {
            editRole: function (index) {
                axios.post(this.url + "/" + this.roles[index].id + "/update", {
                    name: this.roles[index].name,
                    max_bike_number: this.roles[index].max_bike_number,
                    _token: window.laravel_tocken
                })
                        .then(response => {
                            this.roles = response.data;
                            console.log(response.data);
                            alert('Rol Editado');
                        })
                        .catch((error) => {
                            if (error.response) {
                                console.log(error.response.data);
                                console.log(error.response.status);
                                console.log(error.response.headers);
                            }
                        });
            },
            deleteRole: function (index) {
                axios.post(this.url + "/" + this.roles[index].id + "/destroy", {
                    _token: window.laravel_tocken
                })
                        .then(response => {
                            this.roles = response.data;
                            console.log(response.data);
                            alert('Rol Borrado');
                        })
                        .catch((error) => {
                            if (error.response) {
                                console.log(error.response.data);
                                console.log(error.response.status);
                                console.log(error.response.headers);
                            }
                        });
            },
            createRole: function () {
                axios.post(this.url + "/store", {
                    name: this.new_name,
                    max_bike_number: this.new_max_bike_number,
                    _token: window.laravel_tocken
                })
                        .then(response => {
                            this.roles = response.data;
                            console.log(response.data);
                            alert('Rol Creado');
                            this.new_name = null;
                            this.new_max_bike_number = null;
                        })
                        .catch((error) => {
                            if (error.response) {
                                console.log(error.response.data);
                                console.log(error.response.status);
                                console.log(error.response.headers);
                            }
                        });
            },

        }
    };
</script>
