<template>
    <div>

        <div class="form-group row">
        
            
            <div class="col-md-12">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="gridCheck1">
                    <label class="form-check-label" for="gridCheck1">
                       Tiene casco?
                    </label>
                </div>
                
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="gridCheck2">
                    <label class="form-check-label" for="gridCheck2">
                        La bicicleta se encuentra en buenas condiciones?
                    </label>
                </div>
                
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="gridCheck3">
                    <label class="form-check-label" for="gridCheck3">
                        <a  href="/tyc">  Acepta términos y condiciones? </a>
                    </label>
                </div>
                
                <div id="desb_ayuda" class = "mt-3">
                    <strong>
                    En caso de requerir ayuda comuníquese al celular 3125233780
                    </strong>
                </div>
               
            </div>
        </div>
    </div>

</template>

<script>
    export default {
        props: {

        },

        mounted() {


        },
        methods: {

        }
    };
</script>
