<template>
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-10">

                <div id="title" class="justify-content-center">
                    <h3>
                        Tabla de Estaciones 
                    </h3>
                </div>

                <div id ="table">
                    <table class = "table table-sm">
                        <thead>
                            <tr>

                                <th>
                                    id
                                </th>
                                <th>
                                    Nombre
                                </th>
                                <th>
                                    Latitud
                                </th>
                                <th>
                                    Longitud
                                </th>
                                <th>
                                    Estado
                                </th>


                            </tr>                        
                        </thead>
                        <tbody>
                            <tr  v-for="(station, index) in stations"  v-bind:key="station.id" >

                                <td>
                                    {{station.id}}
                                </td>
                                <td>
                                    <input type="text" v-model ="station.name" >

                                </td>

                                <td>
                                    <input type="number" v-model = "station.latitude" >
                                </td>
                                <td>
                                    <input type="number" v-model = "station.longitude" >
                                </td>



                                <td v-if = "station.status == 'enabled' ">
                                    <button class = "btn btn-success"  v-on:click="disableStation(index)"  >
                                        DESHABILITAR 
                                    </button>                                    
                                </td>
                                <td v-else>
                                    <button class = "btn btn-warning"  v-on:click="enableStation(index)"  >
                                        HABILITAR 
                                    </button>                                    
                                </td>


                                <td>
                                    <button class = "btn btn-warning"  v-on:click="editStation(index)"  >
                                        EDITAR
                                    </button>   
                                </td>

                                <td>
                                    <button class = "btn btn-danger"  v-on:click="deleteStation(index)"  >
                                        BORRAR
                                    </button>   
                                </td>


                            </tr>

                            <tr>
                                <td>
                                    NUEVA ESTACIÓN:
                                </td>
                                <td>
                                    <input type="text" v-model ="new_name" >

                                </td>

                                <td>
                                    <input type="number" v-model = "new_latitude" >
                                </td>
                                
                                <td>
                                    <input type="number" v-model = "new_longitude" >
                                </td>
                                
                                <td>
                                    <button class = "btn btn-success"  v-on:click="createStation"  >
                                        CREAR
                                    </button>   
                                </td>
                                
                                <td> </td>
                                <td> </td>

                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>

</template>

<script>
    export default {
        props: {
            name: String
        },
        data() {
            return {
                markers: [],
                stations: [],
                new_name: null,
                new_latitude: null,
                new_longitude: null,
                url: "/admin/stations",
            };
        },

        mounted() {
            axios.post(this.url, {
                _token: window.laravel_tocken
            }).then(response => {

                this.stations = response.data;
            }).catch((error) => {
                if (error.response) {
                    console.log(error.response.data);
                    console.log(error.response.status);
                    console.log(error.response.headers);
                }
            });

        },
        methods: {
            editStation: function (index) {
                axios.post(this.url + "/" + this.stations[index].id + "/update", {
                    name: this.stations[index].name,
                    latitude: this.stations[index].latitude,
                    longitude: this.stations[index].longitude,
                    _token: window.laravel_tocken
                })
                        .then(response => {
                            this.stations = response.data;
                            console.log(response.data);
                            alert('Estación Editada');
                        })
                        .catch((error) => {
                            if (error.response) {
                                console.log(error.response.data);
                                console.log(error.response.status);
                                console.log(error.response.headers);
                            }
                        });
            },
            deleteStation: function (index) {
                axios.post(this.url + "/" + this.stations[index].id + "/destroy", {
                    _token: window.laravel_tocken
                })
                        .then(response => {
                            this.stations = response.data;
                            console.log(response.data);
                            alert('Estación Borrada');
                        })
                        .catch((error) => {
                            if (error.response) {
                                console.log(error.response.data);
                                console.log(error.response.status);
                                console.log(error.response.headers);
                            }
                        });
            },
            createStation: function () {
                axios.post(this.url + "/store", {
                    name: this.new_name,
                    
                    latitude: this.new_latitude,
                    longitude: this.new_longitude,
                    _token: window.laravel_tocken
                })
                        .then(response => {
                            this.stations = response.data;
                            console.log(response.data);
                            alert('Estación Creada');
                            this.new_name = null;
                            this.new_latitude = null;
                            this.new_longitude = null;
                        })
                        .catch((error) => {
                            if (error.response) {
                                console.log(error.response.data);
                                console.log(error.response.status);
                                console.log(error.response.headers);
                            }
                        });
            },
            
             enableStation: function (index) {
                // this.stations[index].status = 'enabled';
                var station_id = this.stations[index].id;
                axios.post("/admin/stations/enable/" + station_id, {
                    _token: window.laravel_tocken
                })
                        .then(response => {
                           
                            this.stations[index].status = 'enabled';

                        })
                        .catch((error) => {
                            if (error.response) {
                                console.log(error.response.data);
                                console.log(error.response.status);
                                console.log(error.response.headers);
                            }
                        });
            },

            disableStation: function (index) {
                var station_id = this.stations[index].id;
                axios.post("/admin/stations/disable/" + station_id, {
                    _token: window.laravel_tocken
                })
                        .then(response => {
                         
                            this.stations[index].status = 'disabled';
                        })
                        .catch((error) => {
                            if (error.response) {
                                console.log(error.response.data);
                                console.log(error.response.status);
                                console.log(error.response.headers);
                            }
                        });
            },

        }
    };
</script>
