<template>
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-10">

                <div id="title" class="justify-content-center">
                    <h3>
                        Tabla de Usuarios
                    </h3>
                </div>

                <div id ="table">
                    <table class = "table">
                        <thead>
                            <tr>

                                <th>
                                    Identificación
                                </th>
                                <th>
                                    Nombre
                                </th>
                                <th>
                                    Correo
                                </th>
                                <th>
                                    Género
                                </th>
                                <th>
                                    Teléfono
                                </th>
                                <th>
                                    Rol del Usuario
                                </th>                                
                                <th>
                                    Información Adicional
                                </th>
                                <th>
                                    Fecha de Creación
                                </th>
                                <th>
                                    Acciones
                                </th>
                            </tr>                        
                        </thead>
                        <tbody>
                            <tr  v-for="(user, index) in users"  v-bind:key="user.id" >

                                <td>
                                    {{user.identification_type}} - {{user.identification}}
                                </td>
                                <td>
                                    {{user.name}} {{user.last_name}}
                                </td>

                                <td>
                                    {{user.email}} 
                                </td>
                                <td>
                                    {{user.gender}} 
                                </td>
                                <td>

                                    {{user.phone_number}}

                                </td>
                                <td>
                                    <div v-for="(role, index) in roles"  v-bind:key="roles.id" >
                                        <div v-if = "user.role_id == role.id ">
                                            {{  role.name }}
                                        </div>                                       
                                    </div>
                                </td>

                                <td>
                                    {{user.category_information}} 
                                </td>
                                <td>
                                    {{user.created_at}} 
                                </td>

                                <td v-if = "user.status == 'enabled' ">
                                    <button class = "btn btn-success"  v-on:click="disable(index)"  >
                                        Deshabilitar usuario 
                                    </button>                                    
                                </td>
                                <td v-else>
                                    <button class = "btn btn-warning"  v-on:click="enable(index)"  >
                                        Habilitar usuario 
                                    </button>                                    
                                </td>
                                <td >
                                    <a class = "btn btn-warning" :href="'/admin/users/' + user.id">
                                       Editar 
                                </a>                                    
                            </td>


                        </tr>

                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>

</template>

<script>
    export default {
        props: {
            name: String
        },
        data() {
            return {
                markers: [],
                users: [],
                roles: []
            };
        },

        mounted() {
            axios.post("/admin/users", {
                _token: window.laravel_tocken
            }).then(response => {
                this.users = response.data;
            }).catch((error) => {
                if (error.response) {
                    console.log(error.response.data);
                    console.log(error.response.status);
                    console.log(error.response.headers);
                }
            });
            axios.post("/admin/roles", {
                _token: window.laravel_tocken
            }).then(response => {
                this.roles = response.data;
            }).catch((error) => {
                if (error.response) {
                    console.log(error.response.data);
                    console.log(error.response.status);
                    console.log(error.response.headers);
                }
            });

        },
        methods: {

            enable: function (index) {
                // this.users[index].status = 'enabled';
                var user_id = this.users[index].id;
                axios.post("/admin/users/enable/" + user_id, {
                    _token: window.laravel_tocken
                })
                        .then(response => {
                            //console.log(response.data);
                            //this.users[index] = response.data;
                            this.users[index].status = 'enabled';
                            //console.log(this.users[index]);

                        })
                        .catch((error) => {
                            if (error.response) {
                                console.log(error.response.data);
                                console.log(error.response.status);
                                console.log(error.response.headers);
                            }
                        });
            },

            disable: function (index) {
                var user_id = this.users[index].id;
                axios.post("/admin/users/disable/" + user_id, {
                    _token: window.laravel_tocken
                })
                        .then(response => {
                            //console.log(response.data);
                            //this.users[index] = response.data;
                            //console.log(this.users[index]);
                            this.users[index].status = 'disabled';
                        })
                        .catch((error) => {
                            if (error.response) {
                                console.log(error.response.data);
                                console.log(error.response.status);
                                console.log(error.response.headers);
                            }
                        });
            },

            update: function () {

            }


        }
    };
</script>
