<template>
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-10">

                <div id="title" class="justify-content-center">
                    <h3>
                        Viajes Activos 
                    </h3>
                </div>

                <div id ="table">
                    <table class = "table">
                        <thead>
                            <tr>

                                <th>
                                    Numero de Viaje
                                </th>

                                <th>
                                    Usuario
                                </th>

                                <th>
                                    Bicicleta
                                </th>

                                <th>
                                    Candado
                                </th>

                                <th>
                                    Hora inicio recorrido
                                </th>

                            </tr>                        
                        </thead>
                        <tbody>
                            <tr  v-for="(ride, index) in rides"  v-bind:key="ride.id" >

                                <td>
                                    {{ride.id}}
                                </td>

                                <td>
                                    <a class = "" :href=" '/admin/users/' + ride.user_id" >
                                        {{ride.name}} {{ride.last_name}}
                                    </a>                              
                                </td>

                                <td>
                                    {{ride.bike_name}} 
                                </td>
                                <td>
                                    {{ride.qr_code}} 
                                </td>

                                <td>
                                    {{ride.departure_time}} 
                                </td>



                            </tr>

                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>

</template>

<script>
    export default {
        props: {
            name: String
        },
        data() {
            return {
                markers: [],
                rides: [],
                new_name: null,
                new_max_bike_number: null,
                url: "/admin/rides/active",
            };
        },

        mounted() {
            axios.post(this.url, {
                _token: window.laravel_tocken
            }).then(response => {

                this.rides = response.data;
            }).catch((error) => {
                if (error.response) {
                    console.log(error.response.data);
                    console.log(error.response.status);
                    console.log(error.response.headers);
                }
            });

        },
        methods: {
        }
    };
</script>
