<template>


    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Viaje  {{ride_id_mutable}} </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div> 
                <div class="modal-body">
                    <div>  

                        <div id="map" style=" height: 500px">
                        </div>


                    </div>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <!--button type="button" class="btn btn-primary">Save changes</button-->
                </div>
            </div>
        </div>
    </div>



</template>

<script>
    export default {
        props: {

        },
        data() {
            return {
                markers: [],
                ride_id_mutable: 0,
                new_name: null,
                new_max_bike_number: null,
                url: "/admin/reports/ended_rides",
            };
        },

        mounted() {
            this.internal_state = 1;
            window.init();
            this.stations();


        },
        methods: {

            stations: function () {
                axios.get("/api/stations").then(res => {
                    this.markers = res.data;
                    window.printStations(this.markers);
                });
            },
            ride: function (ride_id) {

                this.ride_id_mutable = ride_id;
                axios.get("/admin/rides/" + ride_id).then(res => {
                    console.log(res.data.points);
                    window.resetRides();
                    window.printRides([res.data]);
                    setTimeout(function () {
                        console.log("resize");
                        window.invalidateSize();
                    }, 10);

                });


            }
        }
    };
</script>
