<template>
    <div class="container-fluid mt-5 pt-5">



        <div class="row justify-content-center">
            <div class="col-md-10">

                <div id="title" class="justify-content-center">
                    <h3>
                        Viajes del usuario 
                    </h3>
                </div>

                <div id ="table">
                    <table class = "table">
                        <thead>
                            <tr>

                                <th>
                                    Numero de Viaje
                                </th>

                                <th>
                                    Usuario
                                </th>

                                <th>
                                    Bicicleta
                                </th>

                                <th>
                                    Candado
                                </th>

                                <th>
                                    Hora inicio recorrido
                                </th>

                                <th>
                                    Punto Salida
                                </th>

                                <th>
                                    Hora fin recorrido
                                </th>
                                <th>
                                    Punto Llegada
                                </th>

                                <th>
                                    Duración
                                </th>

                                <th>
                                    Distancia
                                </th>

                            </tr>                        
                        </thead>
                        <tbody>
                            <tr  v-for="(ride, index) in rides"  v-bind:key="ride.id" >

                                <td>
                                    {{ride.id}}
                                </td>

                                <td>
                                    <a class = "" :href=" '/admin/users/' + ride.user_id" >
                                       {{ride.name}} {{ride.last_name}}
                                </a>   
                            </td>

                            <td>
                                {{ride.bike_name}} 
                            </td>
                            <td>
                                {{ride.qr_code}} 
                            </td>

                            <td>
                                {{ride.departure_time}} 
                            </td>
                            <td>
                                {{ride.departure_station.name}} 
                            </td>
                            <td>
                                {{ride.arrival_time}} 
                            </td>
                            <td>
                                {{ride.arrival_station.name}} 
                            </td>
                            <td>
                                {{ride.time_elapsed}} 
                            </td>
                            <td>
                                {{ride.distance}} 
                            </td>
                            <td>
                                <!-- Button trigger modal -->
                                <button 
                                    type="button" 
                                    class="btn btn-primary" 
                                    data-toggle="modal" 
                                    data-target="#exampleModal"
                                    v-on:click="change_ride(ride.id)"
                                    >
                                    VER VIAJE
                                </button>
                            </td>



                        </tr>

                    </tbody>
                </table>
            </div>

        </div>
    </div>


    <ride-map 
        ref="mapa"
        >

    </ride-map>




</div>

</template>

<script>
    export default {
        props: {
            user_id: String
        },
        data() {
            return {
                markers: [],
                rides: [],
                ride_id: 1,
                new_name: null,
                new_max_bike_number: null,
                url: "/admin/rides/"+this.user_id+"/user",
            };
        },

        mounted() {
            axios.post(this.url, {
                _token: window.laravel_tocken
            }).then(response => {

                this.rides = response.data;
            }).catch((error) => {
                if (error.response) {
                    console.log(error.response.data);
                    console.log(error.response.status);
                    console.log(error.response.headers);
                }
            });

        },
        methods: {
            change_ride: function (ride_id) {
                this.$refs.mapa.ride(ride_id);
            }
        }
    };
</script>
